@import '{}/client/styles/variables';
@import '{}/client/styles/colors';

.page_testimonials-container {
  margin-top: $header_size;
  .slider-container {
    height: 65vh;
    width: 100vw;
    padding: 0 80px;
    .center {
      height: 100%;
      .slick-list {
        height: 100%;
        .slick-track {
          height: 100%;
          .slick-slide {
            display: flex;
            // margin: 0 20px;
          //   &.slick-center {
          //     transform: scaleX(1.4);
          //     .page_testimonial-element {
          //       transform: scaleX(calc(1/1.4));
          //     }
          //     +.slick-slide.slick-active {
          //       transform: scaleX(0.7) scaleY(0.5) translateX(45px);
          //     }
          //   }
          //   &:not(.slick-center) {
          //   min-height: 40vh;
          //   transform: scaleX(0.7) scaleY(0.5);
          //   &.slick-active {
          //     transform: scaleX(0.7) scaleY(0.5) translateX(-45px);
          //   }
          //   > div {
          //     min-height: inherit;
          //     width: 100%;
          //     .page_testimonial-quote {
          //       min-height: inherit;
          //       width: 100%;
          //       .page_testimonial-element {
          //         transform: scaleX(0.8);
          //       }
          //     }
          //   }
          //  }
          }
        }
      }
    }
    .page_testimonial-nav-button {
      color: $white;
    }
  }
}
