@import '{}/client/styles/colors';

@keyframes hoverEffect {
  from {
    background-position: 39% 25%,
  }
  to {
    background-position: 0% 0%,
  }
}

@keyframes hoverEffectReverse {
  from {
    background-position: 0% 0%,
  }
  to {
    background-position: 39% 25%,
  }
}

.subject-card-container {
  width: 10vw;
  height: 10vw;
  min-width: 250px;
  min-height: 240px;
  position: relative;
  border-radius: 15px;
  background-size: 400% 400%;
  background-position: 39% 25%;
  animation: hoverEffectReverse 0.5s cubic-bezier(0.4, 0, 0.6, 1);
  cursor: pointer;
  .subject-card-icon {
    width: 45%;
    svg {
      fill: $white;
    }
  }
  .subject-card-text {
    font-size: 20px;
    color: white;
    font-weight: bold;
    .subject-card-code {
      margin-top: 10px;
      text-align: center;
    }
    .subject-card-subject {
      text-align: center;
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 25px;
      margin-top: 10px;
    }
  }
  &:hover {
    animation: hoverEffect 0.5s cubic-bezier(0.4, 0, 0.6, 1);
    background-position: 0% 0%;
  }
}
