@import "{}/client/styles/variables";
@import '{}/client/styles/colors';

.organism_header-root {
  height: $header_size;
  width: 100vw;
  position: fixed;
  z-index: 2;
  padding: 0 35px;
  &.organism_header-with-bg {
    background-color: $background;
  }
}
