$white: #FFFFFF;
$background: #051017;
$background_secondary: #1E1E1E;
$primary_color: #D82057;
$secondary_color: #26B3E8;
$subject_geography: #00A2D1;
$subject_chemistry:  #E84925;
$subject_economics:  #6D496D;
$subject_biology:  #75B543;
$subject_physics:  #F8991D;
$subject_business:  #6C0D0E;
$subject_computer_science:  #E2557F;
$subject_information_technology:  #AD1E56;
$subject_maths:  #1D4A9C;
$subject_history:  #F57E20;
$subject_accounting:  #6D82AB;
$subject_add_maths:  #1D4A9C;
$subject_french:  #839199;
$subject_psychology:  #7B4E9F;
$subject_sat:  #FAAC71;
$subject_english_language:  #F89A55;
$subject_english_lit:  #489894;
$subject_business_studies:  #6C0D0E;
