.containerRes ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2e2b2b;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.containerRes  li {
    float: left;
    display: inline-block;
}

.containerRes  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.containerRes  li a:hover {
    background-color: gray;
}

.containerRes  .active {
    background-color: #4CAF50;
}
.containerRes  * {
    box-sizing: border-box;
}

/* Add padding to containers */
.container {
     padding: 15px;
     background-color: whitesmoke;
 }

.containerRes {
    padding: 15px;
    position: relative;
    top: 200px;
    background-color:#2e2b2b;
}

.containerRes1 {
    opacity: 0.7;
    padding: 60px;
    position: relative;
    border-radius: 25px;
    top: 200px;
    background-color:#2e2b2b;
    box-shadow: 0 33px 96px 0 rgba(0,0,0,0.50);
}