@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
.modal{
    background-color: #1E1E1E;
    border: none;

}
.popup-content{
    width: 70% !important;
    border: none !important;
    background-color: #1a1a1a !important;
}
.modal > .popup-content {
    width: 100%;
    border-bottom: 1px solid black;
    font-size: 18px;
    text-align: center;
    padding: 5px;
    width: 200px;
}
.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: rgb(218, 29, 86);;
    color: white;
    font-family: Raleway, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    color: white;

    cursor: pointer;

    svg {
        height: 55px;
        width: 150px;
        fill: none;
        stroke-width: 5;

        .o1 {
            stroke: whitesmoke;
            transition: all 1s ease-in-out;
        }

        .o2 {
            stroke: rgb(218, 29, 86);
            stroke-dasharray: 20 420;
            stroke-dashoffset: 20;
            transition: all 1s ease-in-out;
        }
    }

    span {
        position: absolute;
        margin: auto 0;
        text-transform: uppercase;
        letter-spacing: 3px;
    }

    &:hover {
        .o1{
            fill: rgba(#da1d56, 0.3);
        }

        .o2 {
            stroke-dashoffset: -420;
        }
    }
}
