@import "colors";

* {
  margin:0;
	padding:0;
  outline: none;
  font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	box-sizing: border-box;
  &:before, &:after {
    box-sizing: inherit;
  }
}

html, body {
  height: 100vh;
  scroll-behavior: smooth;
  
}

body {
  background-color: $background;
  &::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

&::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

&::-webkit-scrollbar-thumb
{
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
}

@media screen and (max-width: 1300px) {
  html {
    font-size: 13px;
  }
 }
 //  salman css-web
 .MuiDrawer-paper{
  
    background-color: $background;
    &::-webkit-scrollbar-track
  {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  }
  
  &::-webkit-scrollbar
  {
    width: 10px;
    background-color: #F5F5F5;
  }
  
  &::-webkit-scrollbar-thumb
  {
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
  }

 }


 .social-ta i {
  margin-left: 10px !important;
  margin-right: 10px;
  font-size: 25px;
}
.organism_sidebar-top {
  position: fixed !important;
  width: inherit ;
}
.organism_sidebar-bottom {
  margin-top: 200px;
  z-index: -1;
}
.MuiPaper-rounded {
  border-radius: 25px !important;
}
.page_cards-container .page_cards-paper {
  overflow-y: auto !important;
}
.pdf-btn-box {
  width: inherit;
  padding: 15px;
  text-align: center;
  background-color: #313131;
  position: fixed;
  bottom: 0;
}
.download-pdf-btn img {
  width: 15px;
  margin-right: 10px;
  filter: invert(1);
}
.download-pdf-btn svg {
  display: none;
}
.download-pdf-btn {
  font-size: 15px !important;
  cursor: pointer;
}

//  salman responsive css
// /*/responsive css/*/
@media only screen and (min-width: 768px) and (max-width: 1366px) {

}

// /*/responsive css/*/
@media only screen and (max-width: 1280px) {
   
}

// /* Ipad responsive landscape */
@media only screen and (min-width: 768px) and (max-width: 1024px) and(orientation: landscape) {
   
}


/*iphone-plus*/

@media only screen and (min-device-width: 736px) and (max-device-width: 414px) and (orientation: landscape) {
   
}
/*iphone-plus*/
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
   
}

// /* Ipad responsive Portrait */
@media only screen and (min-width: 768px) and (max-width: 1024px) and(orientation: portrait) {
   
}


/* / mobile-Landscape / */

@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html, body {
    overflow-x: hidden;
}
  .page_cards-container {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
.page_dashboard-container{
  margin-left: auto;
    margin-right: auto;
}
background-color: $background;
&::-webkit-scrollbar-track
{
box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
background-color: #F5F5F5;
}

&::-webkit-scrollbar
{
width: 10px;
background-color: #F5F5F5;
}

&::-webkit-scrollbar-thumb
{
box-shadow: inset 0 0 6px rgba(0,0,0,.3);
background-color: #555;
}
.atom_page-container {
  margin-left: auto;
  margin-right: auto;
}

   
}


/* / mobile-Portrait / */

@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  html, body {
    overflow-x: hidden;
}
  .page_cards-container {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
background-color: $background;
&::-webkit-scrollbar-track
{
box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
background-color: #F5F5F5;
}

&::-webkit-scrollbar
{
width: 10px;
background-color: #F5F5F5;
}

&::-webkit-scrollbar-thumb
{
box-shadow: inset 0 0 6px rgba(0,0,0,.3);
background-color: #555;
}
.page_dashboard-container{
  margin-left: auto;
    margin-right: auto;
}
// lft-menu-width
.MuiDrawer-paperAnchorLeft {
  width: 100% !important;
}
.atom_page-container {
  margin-left: auto;
  margin-right: auto;
}


   
}
