.fifthContainer {
    position: relative;
    left: 2%;
    width: 60%;
    top: 25%;
    background-color: transparent;
    color: white;

}

.sixth-component ul {
    display: inline-flex;
}

.sixth-component h1 {
    padding-bottom: 20%;
}

.sixth-component h2 {
    text-align: left;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 600px;
}

.gmap_canvas {
    padding-left: 10%;
    color: whitesmoke;
    position: relative;
    top: -30%;
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 600px;
}

.socialCont {
    position: relative;
    bottom: 18em;

}
