.container69 {
    background-color: #1E1E1E;
    border-radius: 32px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.50);
    height: 300px;
    width:60%;
    background-repeat:no-repeat;
}
.something{
    padding-top: 10%;
}
.sv{
    padding-bottom: 6%;
    padding-left: 1%;
}