.thirdContainer{
    background-image: url("/img/third-background.svg"),url("/img/third.svg");
    background-size: cover;
    height: 50%;
    position: relative;
    top:50%;
}
.hoverContainer{
    background-color: whitesmoke;
    width: 25%;
    border-radius: 25px;
    padding: 14px;
    z-index: 100;
    position: relative;
    right: 50px;
}

.hover1{
    position: relative;
    left: 14%;
    bottom: 13%;
}

.hover2{
    position: relative;
    left: 26%;
    bottom: -7%;
}

.hover3{
    position: relative;
    left: 40%;
    bottom: -18%;
}

.hover4{
    position: relative;
    left: 55%;
    bottom: 13%;
}


.hover5{
    position: relative;
    left: 70%;
    bottom: 43%;
}

.hover6{
    position: relative;
    left: 82%;
    bottom: 43%;
}