.molecule_icon-menu {
	padding: 0;
}
.molecule_icon-menu-popper {
	z-index: 10;
	.grow {
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: #323232;
    margin-top: 5px;
		&.bottom {
			transform-origin: center top;
		}
		&.top {
			transform-origin: center bottom;
		}
		padding: 12px 0;
		min-width: 235px;
		.list {
			padding: 0;
    }
	}
}
