$round_size: 90px;

.round_container {
  position: relative;
  z-index: 1;
  .round {
    width: 10vw;
    height: 10vw;
    cursor: pointer;
    min-height: $round_size;
    min-width: $round_size;
    border-radius: 100%;
    box-shadow: 0px 0px 0px 10px #121212,
    0px 0px 0px 11px #333333;
    box-sizing: border-box;
    .inner {
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      border-radius: 100%;
      border: 1px solid #4F4F4F;
      .icon {
        height: 60%;
        width: 60%;
      }
    }
  }
  &.top {
    margin-top: -$round_size;
  }
  &.bottom {
    margin-top: $round_size;
  }
}
