.organism_header-root {
  .organism_header-logo {
    width: 70px;
    margin-right: 45px;
  }
  .organism_header-link {
    text-transform: capitalize;
    margin-right: 45px;
    .organism_header-icon {
      margin-right: 8px;
    }
  }
}
