@import '{}/client/styles/colors';

.organism-footer-icon-container {
  margin-bottom: 15px;
  .organism_footer-icon-link {
    margin-right: 45px;
    .organism_footer-icon {
      fill: $white;
      width: 5vw;
    }
    &:last-of-type {
      margin-right: 0;
    }
    &:hover {
      .organism_footer-icon {
        fill: $primary_color
      }
    }
  }
}
