@import '{}/client/styles/colors';

.organism_footer-icon-container {
  margin-bottom: 15px;
  .organism_footer-icon-link {
    margin-right: 22px;
    .organism_footer-icon {
      font-size: 2.1875rem;
    }
    &:last-of-type {
      margin-right: 0;
    }
    &:hover {
      .organism_footer-icon {
        color: $primary_color
      }
    }
  }
}
