@import './mixins';
@import './colors';
@import './mq';

html,
body {
  // Todo: this should be removed
  [flex] {
    min-width: 0;
    min-height: 0;
  }
}

body {
  @include gotham(14px);
  margin: 0;
  padding: 0;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $blue-grey-3;
  color: $text-color;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
  color: $blue;
  cursor: pointer;

  &.-hover-link {
    &:hover,
    &:active {
      color: lighten($blue, 10);
    }
  }

  // Todo: this should be removed
  &.block-link {
    display: block;
  }
}

h1,
h2,
h3,
h4,
h5,
p {
  font-weight: normal;
  margin: 0;
}

h1 {
  @include gotham(28px);
}

h2 {
  @include gotham(24px);
}

h3 {
  @include gotham(20px);
}

h4 {
  @include gotham(18px);
}

h5 {
  @include gotham(16px);
}

h6 {
  @include gotham(14px);
}

section {
  padding: 4px 16px;
}

hr {
  height: 1px;
  background: $grey-10;
  margin: 0;
  border: none;
}

small {
  @include gotham(12px);
}

big {
  @include gotham(16px);
}

ul.-dash-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: flex;
    align-items: flex-start;

    &:before {
      content: '';
      background-color: $green;
      width: 10px;
      min-width: 10px;
      height: 2px;
      min-height: 2px;
      margin-right: 6px;
      margin-top: 1ex;
    }
  }

  &.-dash-red-orange li:before {
    background-color: $red-orange;
  }

  &.-dash-blue-grey-60 li:before {
    background-color: $blue-grey-60;
  }
}

@mixin make-alignment($postfix: '') {
  .-align-left#{$postfix} {
    text-align: left;
  }

  .-align-center#{$postfix} {
    text-align: center;
  }

  .-align-right#{$postfix} {
    text-align: right;
  }

  .-align-justify#{$postfix} {
    text-align: justify;
  }
}

@include make-alignment();

@media (max-width: $xxsmall) {
  @include make-alignment(-xxs-lte);
}
@media (max-width: $xsmall) {
  @include make-alignment(-xs-lte);
}
@media (max-width: $small) {
  @include make-alignment(-s-lte);
}
@media (max-width: $medium) {
  @include make-alignment(-m-lte);
}
@media (max-width: $large) {
  @include make-alignment(-l-lte);
}
@media (max-width: $xlarge) {
  @include make-alignment(-xl-lte);
}
@media (max-width: $xxlarge) {
  @include make-alignment(-xxl-lte);
}

@media (min-width: $xxsmall + 1) {
  @include make-alignment(-xxs-gt);
}
@media (min-width: $xsmall + 1) {
  @include make-alignment(-xs-gt);
}
@media (min-width: $small + 1) {
  @include make-alignment(-s-gt);
}
@media (min-width: $medium + 1) {
  @include make-alignment(-m-gt);
}
@media (min-width: $large + 1) {
  @include make-alignment(-l-gt);
}
@media (min-width: $xlarge + 1) {
  @include make-alignment(-xl-gt);
}
@media (min-width: $xxlarge + 1) {
  @include make-alignment(-xxl-gt);
}

.-on-click {
  cursor: pointer;
}

.-click-through {
  pointer-events: none;
}

.-break-lines {
  white-space: pre-line;
}

.grecaptcha-badge {
  display: none;
}

// Todo: old stuff show be removed or refactored

[event-hook] {
  cursor: pointer;
}

.-outer-center {
  margin: 0 auto;
}

.center {
  text-align: center;
}

.with-tooltip {
  display: inline-block;
  position: relative;
}

.light-text {
  font-weight: 300;
}

.headline-sub {
  font-weight: normal;
  opacity: 0.5;
  font-size: 0.8em;
}

.text_secondary {
  color: $light-gray;
}

.text-faded {
  opacity: 0.3;
}
