@import './mixins';
@import './colors';

.-blue {
  color: $blue;
}

.-yellow {
  color: $yellow;
}

.-gold {
  color: $gold;
}

.-orange {
  color: $orange;
}

.-red-orange {
  color: $red-orange;
}

.-red {
  color: $dark-red;
}

.-green {
  color: $green;
}

.-green-fresh {
  color: $green-fresh;
}

.-violet-blue {
  color: $violet-blue;
}

.-blurry-text {
  color: transparent;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.-bolded-grey {
  color: $bolded-grey;
}
.-grey {
  color: $grey-40;
}

.-grey-5 {
  color: $grey-5;
}

.-grey-6 {
  color: $grey-6;
}

.-grey-10 {
  color: $grey-10;
}

.-grey-20 {
  color: $grey-20;
}

.-grey-40 {
  color: $grey-40;
}

.-grey-60 {
  color: $grey-60;
}

.-grey-70 {
  color: $grey-70;
}

.-grey-80 {
  color: $grey-80;
}

.-blue-30 {
  color: $blue-30;
}

.-blue-70 {
  color: $blue-70;
}

.-blue-grey-2 {
  color: $blue-grey-2;
}

.-blue-grey-3 {
  color: $blue-grey-3;
}

.-blue-grey-5 {
  color: $blue-grey-5;
}

.-blue-grey-7 {
  color: $blue-grey-7;
}

.-blue-grey-40 {
  color: $blue-grey-40;
}

.-blue-grey-60 {
  color: $blue-grey-60;
}

.-blue-grey-70 {
  color: $blue-grey-70;
}

.-blue-grey-80 {
  color: $blue-grey-80;
}

.-blue-grey-300 {
  color: $blue-grey-300;
}

.-black {
  color: $black;
}

.-white {
  color: $white;
}

.-facebook-color {
  color: $facebook-color;
}

.-twitter-color {
  color: $twitter-color;
}

.-google-color {
  color: $google-color;
}

.-github-color {
  color: $github-color;
}

.-bg-blue {
  background-color: $blue;
}

.-bg-blue-gradient {
  background: linear-gradient(to bottom right, #6c7aff 0%, #00b5ff 100%);
}

.-bg-blue-70 {
  background-color: $blue-70;
}

.-bg-purple-gradient {
  background: linear-gradient(to bottom right, #ee84f0 0%, #ff9c54 100%);
}

.-bg-yellow {
  background-color: $yellow;
}

.-bg-gold {
  background-color: $gold;
}

.-bg-red-orange {
  background-color: $red-orange;
}

.-bg-red {
  background-color: $dark-red;
}

.-bg-green {
  background-color: $green;
}

.-bg-green-fresh {
  background-color: $green-fresh;
}

.-bg-dark-red {
  background-color: $dark-red;
}

.-bg-dark-violet {
  background-color: $dark-violet;
}

.-bg-grey-5 {
  background-color: $grey-5;
}

.-bg-grey-6 {
  background-color: $grey-6;
}

.-bg-grey-10 {
  background-color: $grey-10;
}

.-bg-grey-20 {
  background-color: $grey-20;
}

.-bg-grey-40 {
  background-color: $grey-40;
}

.-bg-grey-60 {
  background-color: $grey-60;
}

.-bg-grey-70 {
  background-color: $grey-70;
}

.-bg-grey-80 {
  background-color: $grey-80;
}

.-bg-grey-90 {
  background-color: $grey-90;
}

.-bg-blue-grey-2 {
  background-color: $blue-grey-2;
}

.-bg-blue-grey-3 {
  background-color: $blue-grey-3;
}

.-bg-blue-grey-5 {
  background-color: $blue-grey-5;
}

.-bg-blue-grey-7 {
  background-color: $blue-grey-7;
}

.-bg-blue-grey-8 {
  background-color: $blue-grey-8;
}

.-bg-blue-grey-40 {
  background-color: $blue-grey-40;
}

.-bg-blue-grey-60 {
  background-color: $blue-grey-60;
}

.-bg-blue-grey-65 {
  background-color: $blue-grey-65;
}

.-bg-blue-grey-70 {
  background-color: $blue-grey-70;
}

.-bg-blue-grey-80 {
  background-color: $blue-grey-80;
}

.-bg-black {
  background-color: $black;
}

.-bg-orange {
  background-color: $orange;
}

.-bg-violet-blue {
  background-color: $violet-blue;
}

.-bg-white {
  background-color: $white;
}

.-bg-white-40 {
  background-color: rgba($white, 0.4);
}

.-uppercase {
  text-transform: uppercase;
}

.-lowercase {
  text-transform: lowercase;
}

.-capitalize {
  text-transform: capitalize;
}

.-no-transform {
  text-transform: none;
}

.-nowrap {
  white-space: nowrap;
}

.-default-cursor {
  cursor: default;
}

.-clickable {
  cursor: pointer;
}

.-not-clickable {
  cursor: not-allowed;
}

.-hover-bg-grey-10 {
  &:hover {
    background-color: $grey-10;
  }
}

.-zebra-striped {
  > * {
    &:nth-child(odd) {
      background-color: $blue-grey-3;
    }

    &:nth-child(even) {
      background-color: $white;
    }
  }
}

.-separator {
  border-bottom: 1px solid $grey-10;
}

.-separator-top {
  border-top: 1px solid $grey-10;
}

.-separator-blue-grey {
  border-bottom: 1px solid $blue-grey-7;
}

.-separator-top-blue-grey {
  border-top: 1px solid $blue-grey-7;
}

.-separator-top-blue-grey-70 {
  border-top: 1px solid $blue-grey-70;
}

.-separator-dark {
  border-bottom: 1px solid $grey-20;
}

.-separator-yellow {
  border-bottom: 1px solid $yellow;
}

.-round {
  border-radius: 50%;
}

.-round-corners {
  overflow: hidden;
  border-radius: $border-radius;
}

.-text {
  line-height: 1.4;
}

.-no-user-select {
  user-select: none;
}

@mixin make-fonts($postfix: '') {
  $font-sizes: 56, 48, 42, 40, 36, 35, 32, 28, 24, 22, 20, 18, 16, 14, 12, 10, 8;
  .-font-size {
    @each $size in $font-sizes {
      &-#{$size}#{$postfix} {
        @include gotham($size * 1px); // $size * 1px is a hack to convert string into number
      }
    }
  }
  $line-heights: 48, 40, 36, 32, 28, 24, 22, 20, 18, 16, 14, 12, 10, 8;
  .-line-height {
    @each $height in $line-heights {
      &-#{$height}#{$postfix} {
        line-height: #{$height}px;
      }
    }
  }

  .-bold#{$postfix} {
    font-weight: bold;
  }

  .-italic#{$postfix} {
    font-style: italic;
  }

  .-regular#{$postfix} {
    font-weight: normal;
  }

  .-light#{$postfix} {
    font-weight: 300;
  }

  .-deleted#{$postfix} {
    text-decoration: line-through;
  }
}

@include make-fonts();

@media (max-width: $xxsmall) {
  @include make-fonts(-xxs-lte);
}
@media (max-width: $xsmall) {
  @include make-fonts(-xs-lte);
}
@media (max-width: $small) {
  @include make-fonts(-s-lte);
}
@media (max-width: $medium) {
  @include make-fonts(-m-lte);
}
@media (max-width: $large) {
  @include make-fonts(-l-lte);
}
@media (max-width: $xlarge) {
  @include make-fonts(-xl-lte);
}
@media (max-width: $xxlarge) {
  @include make-fonts(-xxl-lte);
}

@media (min-width: $xxsmall + 1) {
  @include make-fonts(-xxs-gt);
}
@media (min-width: $xsmall + 1) {
  @include make-fonts(-xs-gt);
}
@media (min-width: $small + 1) {
  @include make-fonts(-s-gt);
}
@media (min-width: $medium + 1) {
  @include make-fonts(-m-gt);
}
@media (min-width: $large + 1) {
  @include make-fonts(-l-gt);
}
@media (min-width: $xlarge + 1) {
  @include make-fonts(-xl-gt);
}
@media (min-width: $xxlarge + 1) {
  @include make-fonts(-xxl-gt);
}
