.holder-24 {
  display: inline-block;
  height: 24px;
}
.holder-32 {
  display: inline-block;
  height: 32px;
}
.box-24 {
  display: inline-block;
  height: 24px;
  width: 24px;
}
.box-32 {
  display: inline-block;
  height: 32px;
  width: 32px;
}
