@import 'constants';
@import 'base';

body {
  padding: 0 !important;
  background-color: #121212;
}

.home-page {
  background-image: url("/img/background-gradient.svg");
  background-size: cover;
  height: 400px;
  background-color: #121212;
}