@import 'constants';
@import 'base';

body {
  padding: 0 !important;
  background-color: #121212;
}

.home-page1 {
  background-image: url("/img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -110px;
  height: 50%;
  background-color: #121212;
}