@import '../base/mq';

@media only screen and (max-width: #{$mq-normal - 1}) {
  .mq-wide,
  .mq-normal {
    &:not(.mq-narrow) {
      display: none !important;
    }
  }
}

@media only screen and (min-width: #{$mq-normal}) and (max-width: #{$mq-wide - 1}) {
  .mq-narrow,
  .mq-wide {
    &:not(.mq-normal) {
      display: none !important;
    }
  }
}

@media only screen and (min-width: #{$mq-wide}) {
  .mq-narrow,
  .mq-normal {
    &:not(.mq-wide) {
      display: none !important;
    }
  }
}
