@import 'constants';
@import 'base';

$space-sizes: 120, 112, 108, 104, 100, 88, 84, 80, 72, 68, 64, 56, 48, 40, 36, 32, 28, 24, 20, 16,
  12, 10, 8, 4, 2, 0;

@mixin make-spaces($postfix: '') {
  .-padding {
    @each $size in $space-sizes {
      &-#{$size}#{$postfix} {
        padding: #{$size}px;
      }
    }
  }
  .-padding-h {
    @each $size in $space-sizes {
      &-#{$size}#{$postfix} {
        padding-left: #{$size}px;
        padding-right: #{$size}px;
      }
    }
  }
  .-padding-v {
    @each $size in $space-sizes {
      &-#{$size}#{$postfix} {
        padding-top: #{$size}px;
        padding-bottom: #{$size}px;
      }
    }
  }
  .-padding-t {
    @each $size in $space-sizes {
      &-#{$size}#{$postfix} {
        padding-top: #{$size}px;
      }
    }
  }
  .-padding-r {
    @each $size in $space-sizes {
      &-#{$size}#{$postfix} {
        padding-right: #{$size}px;
      }
    }
  }
  .-padding-b {
    @each $size in $space-sizes {
      &-#{$size}#{$postfix} {
        padding-bottom: #{$size}px;
      }
    }
  }
  .-padding-l {
    @each $size in $space-sizes {
      &-#{$size}#{$postfix} {
        padding-left: #{$size}px;
      }
    }
  }
  .-margin {
    @each $size in $space-sizes {
      &-#{$size}#{$postfix} {
        margin: #{$size}px;
      }
    }
  }
  .-margin-h {
    @each $size in $space-sizes {
      &-#{$size}#{$postfix} {
        margin-left: #{$size}px;
        margin-right: #{$size}px;
      }
    }
  }
  .-margin-v {
    @each $size in $space-sizes {
      &-#{$size}#{$postfix} {
        margin-top: #{$size}px;
        margin-bottom: #{$size}px;
      }
    }
  }
  .-margin-t {
    @each $size in $space-sizes {
      &-#{$size}#{$postfix} {
        margin-top: #{$size}px;
      }
    }
  }
  .-margin-r {
    @each $size in $space-sizes {
      &-#{$size}#{$postfix} {
        margin-right: #{$size}px;
      }
    }
  }
  .-margin-b {
    @each $size in $space-sizes {
      &-#{$size}#{$postfix} {
        margin-bottom: #{$size}px;
      }
    }
  }
  .-margin-l {
    @each $size in $space-sizes {
      &-#{$size}#{$postfix} {
        margin-left: #{$size}px;
      }
    }
  }

  .-space {
    @each $size in $space-sizes {
      &-#{$size}#{$postfix} > * {
        margin: #{$size}px;
      }
    }
  }

  .-space-h {
    @each $size in $space-sizes {
      &-#{$size}#{$postfix} > * {
        margin-left: #{$size}px;
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
  .-space-v {
    @each $size in $space-sizes {
      &-#{$size}#{$postfix} > * {
        margin-top: #{$size}px;
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}

@include make-spaces();

@media (max-width: $small) {
  @include make-spaces(-s);
}
@media (max-width: $xsmall) {
  @include make-spaces(-xs);
}
@media (max-width: $xxsmall) {
  @include make-spaces(-xxs);
}
@media (min-width: $small + 1) and (max-width: $large - 1) {
  @include make-spaces(-m);
}
@media (min-width: $large) {
  @include make-spaces(-l);
}
@media (min-width: $xlarge) {
  @include make-spaces(-xl);
}
@media (min-width: $xxlarge) {
  @include make-spaces(-xxl);
}

@media (max-width: $xxlarge) {
  @include make-spaces(-xxl-lte);
}
@media (max-width: $xlarge) {
  @include make-spaces(-xl-lte);
}
@media (max-width: $large) {
  @include make-spaces(-l-lte);
}
@media (max-width: $medium) {
  @include make-spaces(-m-lte);
}
@media (max-width: $small) {
  @include make-spaces(-s-lte);
}
@media (max-width: $xsmall) {
  @include make-spaces(-xs-lte);
}
@media (max-width: $xxsmall) {
  @include make-spaces(-xxs-lte);
}

@media (min-width: $xxsmall + 1) {
  @include make-spaces(-xxs-gt);
}
@media (min-width: $xsmall + 1) {
  @include make-spaces(-xs-gt);
}
@media (min-width: $small + 1) {
  @include make-spaces(-s-gt);
}
@media (min-width: $medium + 1) {
  @include make-spaces(-m-gt);
}
@media (min-width: $large + 1) {
  @include make-spaces(-l-gt);
}
@media (min-width: $xlarge + 1) {
  @include make-spaces(-xl-gt);
}
@media (min-width: $xxlarge + 1) {
  @include make-spaces(-xxl-gt);
}

// todo: this stuff should be removed
.-padding {
  &-small {
    padding: $padding-small;
  }
  & {
    padding: $padding;
  }
  &-large {
    padding: $padding-large;
  }
  &-none {
    padding: 0;
  }
}
.-padding-horizontal {
  &-small {
    padding-left: $padding-small;
    padding-right: $padding-small;
  }
  & {
    padding-left: $padding;
    padding-right: $padding;
  }
  &-large {
    padding-left: $padding-large;
    padding-right: $padding-large;
  }
}
.-padding-vertical {
  &-small {
    padding-top: $padding-small;
    padding-bottom: $padding-small;
  }
  & {
    padding-top: $padding;
    padding-bottom: $padding;
  }
  &-large {
    padding-top: $padding-large;
    padding-bottom: $padding-large;
  }
}

.-margin {
  &-small {
    margin: $margin-small;
  }
  & {
    margin: $margin;
  }
  &-large {
    margin: $margin-large;
  }
}

.-margin-horizontal {
  &-small {
    margin-left: $margin-small;
    margin-right: $margin-small;
  }
  & {
    margin-left: $margin;
    margin-right: $margin;
  }
  &-large {
    margin-left: $margin-large;
    margin-right: $margin-large;
  }
}

.-margin-vertical {
  &-small {
    margin-top: $margin-small;
    margin-bottom: $margin-small;
  }
  & {
    margin-top: $margin;
    margin-bottom: $margin;
  }
  &-large {
    margin-top: $margin-large;
    margin-bottom: $margin-large;
  }
}

.-space {
  &-small > * {
    margin-left: $margin-small;
  }
  & > * {
    margin-left: $margin;
  }
  &-large > * {
    margin-left: $margin-large;
  }
  &-small > *,
  & > *,
  &-large > * {
    &:first-child {
      margin-left: 0;
    }
  }
}

.-space-vertical {
  &-small > * {
    margin-top: $margin-small;
  }
  & > * {
    margin-top: $margin;
  }
  &-large > * {
    margin-top: $margin-large;
  }
  &-small > *,
  & > *,
  &-large > * {
    &:first-child {
      margin-top: 0;
    }
  }
}
