@import 'colors';

// Table block

.table-view {
  display: table;
  width: 100%;
  min-width: 625px;
  table-layout: fixed;

  // Elements

  &--row {
    display: table-row;

    &.-highlighted {
      background: $blue-50;
    }
  }

  &--cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 50px;
  }

  &--header {
    display: table-header-group;

    .table-view--cell {
      color: $grey-300;
    }
  }

  &--body {
    display: table-row-group;
  }

  // Modifiers

  &.-highlight-rows {
    &--cell:hover {
      background: $grey-10;
    }
  }
}
