.page_register-container {
  .page_register-input {
    margin-bottom: 15px;
    &.page_register-input-margin {
      margin-right: 15px;
    }
  }
  .page_register-submit-button {
    width: 50%;
    padding: 10px 20px;
  }
}
