@import '{}/client/styles/colors';

.organism_action-call-root {
  z-index: 2;
  .organism_action-call-logo {
    height: 200px;
    width: 200px;
    margin-bottom: 36px;
  }
  .organism_landing-hint-link {
    color: $secondary_color;
  }
  .organism_landing-autosuggest {
    position: relative;
    .organism_landing-autosuggest-icon {
      position: absolute;
      height: 100%;
      z-index: 1;
      top: 0;
      bottom: 0;
      &.left {
        left: 20px;
      }
      &.right {
        right: 20px;
        cursor: pointer;
        &:hover {
          color: $primary_color
        }
      }
    }
  }
}
