@import '{}/client/styles/colors';

.page_dashboard-container {
  color: $white;
  .page_dashboard-icon {
    cursor: pointer;
    margin-left: -45px;
    .play-glow {
      fill-opacity: 0;
      transition: all 0.2s cubic-bezier(0.4, 0, 0.6, 1);
    }
    &:hover {
      .play-glow {
        fill-opacity: 1;
      }
    }
  }
  .page_dashboard-progress-container {
    width: 100%;
    padding: 35px;
    border-radius: 50px;
    box-shadow: 0 33px 96px 0 rgba(0,0,0,0.50);
    background-color: $background_secondary;
  }
  .page_dashboard-autosuggest {
    margin-bottom: 50px;
    .react-autosuggest__container {
      margin: 10px 20px 10px 0;
      box-shadow: 0 33px 96px 0 rgba(0,0,0,0.50);
      .react-autosuggest__input {
        padding: 10px 20px;
      }
    }
  }
  .page_dashbboard-subjects {
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .page_dashboard-community-container {
    margin-bottom: 50px;
    .page_dashboard-community-card {
      flex: 1;
      &.page_dashboard-card-first {
        margin-right: 45px;
      }
    }
  }
}
