@import '{}/client/styles/colors';

.molecule_menu-action-item {
  .molecule_menu-action-item-avatar {
    margin-right: 10px;
  }
  .molecule_user-name {
    margin-right: 10px;;
  }
  .molecule_user-menu-icon {
    color: $white;
    }
}
