@import '{}/client/styles/colors';

@keyframes breathe {
  from {
    opacity: 0.6
    // filter: invert(59%) sepia(78%) saturate(1149%) hue-rotate(162deg) brightness(94%) contrast(93%);
  }
  to {
    opacity: 0;
    // filter: invert(24%) sepia(56%) saturate(3720%) hue-rotate(326deg) brightness(86%) contrast(98%);
  }
}

.page_hits-container {
  width: 100%;
  .page_hits-wrapper {
    height: 100%;
    position: relative;
    > section {
      width: 100%;
    }
    > section > span {
      perspective-origin: bottom;
      border: 2px solid $primary_color;
      margin-right: 10px;
    }
    .page_hits-background-svg {
      position: absolute;
      z-index: -1;
      width: 75%;
      height: 75%;
      top: 10px;
      bottom: 10px;
      left: 0;
      right: 0;
      margin: auto;
      animation: breathe 2s ease-in-out 0s infinite alternate;
    }
  }
}
